.game-root {
    -fx-padding: 80;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.game-root .label {
    -fx-font-size: 24px;
    -fx-padding: 6 0;
}

.tile {
    -fx-background-radius: 0;
    -fx-alignment: center;
}

.tile .valid-move-circle {
    -fx-opacity: 0.2;
}

.tile .enemy-circle {
    -fx-fill: transparent;
    -fx-stroke: black;
    -fx-opacity: 0.2;
}

.green {
    -fx-background-color: #739552;
}

.green.recent {
    -fx-background-color: #b9ca43;
}

.white {
    -fx-background-color: #ebecd0;
}

.white.recent {
    -fx-background-color: #f5f682;
}

.chess-piece {
    -fx-cursor: hand;
}

.captured-box {
    -fx-background-color: #e1e4e8;
    -fx-padding: 10px;
}

.captured-box .chess-piece {
    -fx-cursor: normal;
}