/* Menu */
.menu-bar {
    -fx-background-color: #24292e;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

.menu {
    -fx-background-color: #24292e;
    -fx-text-fill: #e1e4e8;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 6 12;
}

.menu .label {
    -fx-text-fill: #e1e4e8;
}

.menu:hover {
    -fx-background-color: #2f363d;
}

.menu-item {
    -fx-background-color: #2f363d;
    -fx-text-fill: #e1e4e8;
    -fx-padding: 5 10;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.menu-item:hover {
    -fx-background-color: #0366d6;
    -fx-text-fill: #ffffff;
}

.context-menu {
    -fx-background-color: #24292e;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-radius: 0;
}

/* Top Bar */
.top-bar-button {
    -fx-alignment: center-left;
    -fx-background-color: #24292e;
    -fx-border-color: black;
    -fx-border-width: 0 1 1 0;
    -fx-pref-width: 250px;
    -fx-padding: 5px 12px 5px 12px;
}

.top-bar-button.repository-toggle-button.active {
    -fx-background-color: #24292e;
    -fx-border-width: 0;
}

.top-bar-button:hover {
    -fx-background-color: #2f363d;
    -fx-cursor: hand;
}

.top-bar-icon {
    -fx-fill: #e1e4e8;
    -fx-font-size: 16px;
}

.top-bar-primary-label {
    -fx-text-fill: #e1e4e8;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.top-bar-secondary-label {
    -fx-text-fill: #959da5;
    -fx-font-size: 12px;
}

/* Sidebar */
.sidebar {
    -fx-pref-width: 250;
    -fx-border-color: black;
    -fx-border-width: 0 1 0 0;
}

.sidebar-header {
    -fx-background-color: #2c2c2c;
    -fx-pref-width: 250px;
}

.sidebar-header .button {
    -fx-background-color: #24292e;
    -fx-text-fill: #e1e4e8;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-pref-width: 125;
    -fx-alignment: center;
    -fx-padding: 4 0;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.sidebar-header .button:hover {
    -fx-background-color: #2f363d;
}

.sidebar-header .button.active {
    -fx-border-color: #0366d6;
    -fx-border-width: 0 0 2 0;
}

.tab-content {
    -fx-background-color: #24292e;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: black;
}

.commit-area {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-background-color: #24292e;
}

.commit-area .button {
    -fx-background-color: #0366d6;
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

.commit-area .button:hover {
    -fx-background-color: #005bb5;
}


.text-area {
    -fx-background-color: #24292e;
    -fx-text-fill: black;
    -fx-border-color: #444;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}