.top-bar-container {
    -fx-background-color: #333;
}

.side-bar {
    -fx-background-color: #444;
    -fx-padding: 10;
    -fx-pref-width: 200;
}

.main-content {
    -fx-background-color: #555;
    -fx-padding: 10;
}

.top-bar-dropdown {
    -fx-background-color: #24292e;
    -fx-border-color: #444;
    -fx-text-fill: white;
    -fx-padding: 5;
}

.top-bar-dropdown:hover {
    -fx-background-color: #444;
}

.top-bar-dropdown .list-cell {
    -fx-background-color: #24292e;
    -fx-text-fill: white;
}

.top-bar-dropdown .list-cell:hover {
    -fx-background-color: #444;
}