.root-pane {
    -fx-background-color: #24292e;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 0);
}

.text-field, .password-field {
    -fx-background-color: #1d2125;
    -fx-text-fill: #e1e4e8;
    -fx-border-color: #717b85;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-padding: 5px;
    -fx-margin: 5px;
    -fx-prompt-text-fill: #b2b2b2;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #0366d6;
}

Label {
    -fx-text-fill: #e1e4e8;
    -fx-font-size: 14px;
    -fx-margin: 5px;
}

.bold Label {
    -fx-font-weight: bold;
}

.primary-text {
    -fx-text-fill: #e1e4e8;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.secondary-text {
    -fx-text-fill: #959da5;
    -fx-font-size: 12px;
}

.icon {
    -fx-fill: #e1e4e8;
    -fx-font-size: 16px;
}

.repository-list .label {
    -fx-padding: 0 6;
}

.repository-list-button {
    -fx-padding: 12 6;
    -fx-background-color: #22282c;
    -fx-alignment: center-left;
}

.repository-list-button .icon {
    -fx-font-size: 24px;
    -fx-fill-color: #22282c;
}

.repository-list-button:hover {
    -fx-background-color: #2f363d;
}

.repository-list-button:pressed {
    -fx-background-color: #0366d6;
}

Button {
    -fx-border-width: 2px;
    -fx-border-color: transparent;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.primary-button {
    -fx-background-color: #0864d4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.primary-button:hover {
    -fx-background-color: #3078d9;
}

.primary-button:pressed {
    -fx-background-color: #0648a3;
    -fx-border-color: none;
}

.secondary-button {
    -fx-background-color: #202424;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.secondary-button:hover {
    -fx-background-color: #303535;
}

.secondary-button:pressed {
    -fx-background-color: #1a1c1c;
}

.error-label {
    -fx-text-fill: #d73a49;
}